<nav class=" flex">
    <div class="bg-gray-800 p-1 rounded-md">
        <a href="/" class=`px-3 rounded-md py-1 ${Astro.url.pathname == '/' ? ' bg-gray-900':''}`>Overview</a>
        <a href="table" class=`px-3 rounded-md py-1 ${Astro.url.pathname == '/table' ? ' bg-gray-900':''}`>Table</a>
    </div>
</nav>