---
import Login from "../components/Login";
import Layout from "../layouts/Layout.astro";
const errorMessage = Astro.url.searchParams.get('errorMessage')
---

<Layout title="Login">
	<main class="min-h-svh bg-black flex items-center justify-center ">
		<Login errorMessage={errorMessage} client:load/>
	</main>
</Layout>

